%header#header.mui-appbar.mui--z1
    .mui-container
        %table
            %tr.mui--appbar-height
                %td.mui--text-title
                    %a#logo.logo-venue{href: "#"}
                %td.mui--text-right
                    %ul.mui-list--inline.mui--text-body2
                        %li
                            = link_to 'Campaigns', campaigns_path, class: 'mui-btn mui-btn--flat mui-btn--primary'
                        %li
                            %a{href: "#", class: 'mui-btn mui-btn--flat mui-btn--primary'} Artists
                        - if user_signed_in?  
                            - if current_user.artist?
                                %li
                                    = link_to 'Create Artist Profile', new_performer_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                                %li
                                    = link_to 'New Campaign', new_campaign_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                            %li
                                = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'mui-btn mui-btn--flat mui-btn--primary'
                        - else 
                            %li
                                = link_to 'Log in', new_user_session_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'
                            %li
                                = link_to 'Sign up', new_user_registration_path, remote: true, class: 'mui-btn mui-btn--flat mui-btn--primary'