#header
    .mui-container
        .mui-row
            .mui-col-md-7.mui-col-sm-7.mui-col-xs-7
                = link_to '', root_path, id: 'logo', class: 'logo-venue'
                %ul#main-nav.nav.top-nav
                    %li
                        = link_to 'Campaigns', campaigns_path
                    %li
                        = link_to 'Artists', performers_path
                    - if user_signed_in? && !current_user.fan?
                        %li
                            = link_to 'Create Artist Profile', new_performer_path, remote: true
                        %li
                            = link_to 'New Campaign', new_campaign_path, remote: true

            .mui-col-md-5.mui-col-sm-5.mui-col-xs-5.has-top-right-links
                %ul#top-right-links.nav
                    %li#order-info
                        = link_to "#{pluralize(active_order.total_unique_items, 'ticket') if active_order?}", new_payment_path, remote: true
                    %li
                        - if user_signed_in?  
                            %li.buttoned
                                = link_to 'Log out', destroy_user_session_path, method: :delete
                        - else 
                            %li.buttoned
                                = link_to 'Log in', new_user_session_path, remote: true
                            %li.buttoned
                                = link_to 'Sign up', new_user_registration_path(panel: :choice), remote: true
