.mui-container
    #similar-artists.mui-row.artists-list
        .mui-col-lg-12
            %h3.artist-heading Similar Artists.
        .mui-col-md-3.mui-col-sm-6.has-artists-items
            %a.artist-item{href: "#"}
                %span.thumb{style: "background-image: url('#{image_path('feat-card-1.jpg')}'"}
                %span.title Artist Name
        .mui-col-md-3.mui-col-sm-6.has-artists-items
            %a.artist-item{href: "#"}
                %span.thumb{style: "background-image: url(#{image_path('feat-card-2.jpg')}"}
                %span.title Artist Name
        .mui-col-md-3.mui-col-sm-6.has-artists-items
            %a.artist-item{href: "#"}
                %span.thumb{style: "background-image: url(#{image_path('feat-card-3.jpg')}"}
                %span.title Artist Name
        .mui-col-md-3.mui-col-sm-6.has-artists-items
            %a.artist-item{href: "#"}
                %span.thumb{style: "background-image: url(#{image_path('feat-card-1.jpg')}"}
                %span.title Artist Name
        .mui-col-md-3.mui-col-sm-6.has-artists-items
            %a.artist-item{href: "#"}
                %span.thumb{style: "background-image: url(#{image_path('feat-card-3.jpg')}"}
                %span.title Artist Name