.mui-container-fluid.modal-content
  .mui-row
    .mui-col-md-8.mui-col-md-offset-2
      %span.logo-venue
      %h2 
        = action.to_s.humanize
        your Artist profile
      #display_error_message
      = form_with model: @performer, class: 'mui-form' do |form|
        .mui-textfield.mui-textfield--float-label
          = form.text_field :name
          = form.label :name, 'Artist name' 
        .mui-row
          .mui-col-md-6  
            .mui-textfield.mui-textfield--float-label
              = form.text_field :city 
              = form.label :city 
        .mui-textfield.mui-textfield--float-label
          = form.text_area :description, rows: 10
          = form.label :description, 'Artist Description' 
        .mui-textfield#genre
          = form.label :genre 
        = form.select(:genre_ids, options_for_select(select_genre_options), {}, {multiple: true})

        .mui-row  
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :facebook 
              = form.label :facebook 
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :instagram 
              = form.label :instagram
        .mui-row  
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :twitter 
              = form.label :twitter 
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :youtube 
              = form.label :youtube, "Youtube - enter video-ID"
        .mui-row  
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :website 
              = form.label :website 
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label   
              = form.text_field :spotify
              = form.label :spotify, 'Spotify URI'
        .mui-row
          .mui-col-lg-6
            .form-group
              - if Rails.env.test? 
                .field#profile_image
                  = form.label :profile_image
                  = form.file_field :profile_image
              - else
                %input#profile-image-uploader.form-submit{type: 'button', value: 'Upload profile image'}
                = form.file_field :profile_image, style: 'opacity: 0;'
          .mui-col-lg-6
            #profile-image-uploader-upload-message
            #profile-image-uploader-preview
        .mui-row
          .mui-col-lg-6
            .form-group
              - if Rails.env.test? 
                .field#background_image 
                  = form.file_field :background_image 
              - else
                .field#background_image
                  %input#backgrount-image-uploader.form-submit{type: 'button', value: 'Upload background image'}
                  = form.file_field :background_image, style: 'opacity: 0;'
          .mui-col-lg-6
            #backgrount-image-uploader-upload-message
            #backgrount-image-uploader-preview
        .form-group
          = form.submit [action.to_s.humanize, 'Profile'].join(' '), class: 'form-submit'
          = button_tag 'Cancel', class: 'form-submit', onclick: 'cancelModal(event);' 


