.mui-container-fluid
  .mui-row
    .mui-col-md-8.mui-col-md-offset-2
      %h2 Create your Artist profile
      #display
      = form_with model: @performer, class: 'mui-form' do |form|
        .mui-textfield.mui-textfield--float-label
          = form.text_field :name
          = form.label :name, 'Artist name'
  
        .mui-textfield.mui-textfield--float-label
          = form.text_area :description 
          = form.label :description, 'Artist Description' 
        .mui-textfield.mui-textfield--float-label
          = form.text_field :city 
          = form.label :city 
        .mui-row
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :genre
              = form.label :genre 
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :facebook 
              = form.label :facebook 
        .mui-row
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :instagram 
              = form.label :instagram
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :twitter 
              = form.label :twitter 
        .mui-row
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :youtube 
              = form.label :youtube 
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :website 
              = form.label :website 
        .mui-row
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label   
              = form.text_field :spotify 
              = form.label :spotify 
        .form-group
          = form.submit 'Create Profile', class: 'form-submit'
          = button_tag 'Cancel', class: 'form-submit', onclick: 'cancelModal(event);' 