#content
  #artist-banner{style: "background: linear-gradient(rgba(255,255,255,0.1), rgba(62,70,76,0.5)), url(#{rails_blob_path(@performer.background_image) unless @performer.background_image.attachment.nil?}) center no-repeat"}
    .mui-container
      .mui-row
        .mui-col-md-12
          .artist-picture{style: "background-image: url(#{rails_blob_path(@performer.profile_image) unless @performer.profile_image.attachment.nil? })"}
          %h1= @performer.name
          .location= @performer.city
          .genre
            - @performer.genres.map {|genre| genre.name}.each do |genre|
              %span= genre.humanize
          -# .follow-request
          -#   %a{href: "#"}> + Follow
          -#     |
          -#   %a{href: "#"} + Request this artist
  #artist-details
    .mui-container
      .mui-row
        .mui-col-md-12
          %h3
            %a.active{href: "#"} Overview
            %a{href: "#"} Shows
            .form-group
              %ul.admin-links
                %ul
                  %li
                    - if user_signed_in? && policy(@performer).edit?
                      = link_to 'Edit', edit_performer_path(@performer), remote: true, class: 'form-submit'
                    - if user_signed_in? && current_user.admin? 
                      - if @performer.active?
                        = link_to 'Archive', performer_path(@performer, event: 'archive'), method: :put, data: { confirm: 'Are you sure?' }, class: 'form-submit'
      .mui-row.details-spotify
        .mui-col-md-12.mui-col-lg-8
          %h2= @performer.name
          %p= @performer.description 
          %ul.artist-social-links
            %li
              %a
                = icon('fab', 'twitter')
                = link_to "Twitter", @performer.twitter 
            %li
              %a
                = icon('fab', 'facebook')
                = link_to "Facebook", @performer.facebook
            %li
              %a
                = icon('fab', 'instagram')
                = link_to "Instagram", @performer.instagram
          .youtube-container
            %iframe{allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/#{@performer.youtube}", width: "560"}
        .mui-col-md-12.mui-col-lg-4.spotify-container
          %iframe{allow: "encrypted-media", allowtransparency: "true", frameborder: "0", height: "380", src: "https://open.spotify.com/embed/artist/#{@performer.spotify}".split("spotify:artist:").join, width: "300"}
  = render partial: 'performers_campaigns', locals: {campaigns: @performer.campaigns} if @performer.campaigns&.any?