.mui-container-fluid
  .mui-row
    .mui-col-md-8.mui-col-md-offset-2
      %h2 Edit Campaign
      #display_error_message
      = form_with model: @campaign, method: :patch, class: 'mui-form' do |form|
        .mui-textfield.mui-textfield--float-label
          = form.text_field :title
          = form.label :title
        .mui-textfield.mui-textfield--float-label
          = form.text_area :description, rows: 10
          = form.label :description
        .mui-textfield.mui-textfield--float-label
          = form.text_field :location
          = form.label :location
        %div
          = form.fields_for :tickets, Ticket.new do |ticket_form|
            .mui-textfield.mui-textfield--float-label
              = ticket_form.number_field :price 
              = ticket_form.label :price, 'Fixed ticket price'
            .mui-textfield.mui-textfield--float-label 
              = ticket_form.text_field :name  
              = ticket_form.label :name, 'Ticket name'        
        .form-group   
          = form.label :image
          = form.file_field :image 
        .form-group
          = form.submit 'Update Campaign', class: 'form-submit'
          = button_tag 'Cancel', class: 'form-submit', onclick: 'cancelModal(event);' 