%h2 Create a New Campaign
= form_with model: @campaign, local: true do |form|
  .form-group
    = form.label :title, class: 'control-label'
    %br/
    = form.text_field :title, class: 'form-control'
    %br/
  .form-group
    = form.label :description, class: 'control-label'
    %br/   
    = form.text_area :description, class: 'form-control'
    %br/
  .form-group    
    = form.label :location, class: 'control-label'
    %br/  
    = form.text_field :location, class: 'form-control'
  .form-group   
    = form.label :post, :image
    %br/
    = form.file_field :image 
    %br/

  .form-group
    = form.submit 'Launch Campaign', class: 'form-submit'
    = button_tag 'Cancel', class: 'form-submit', onclick: 'cancelModal(event);' 