.mui-container-fluid.modal-content
  .mui-row
    .mui-col-md-4.mui-col-md-12.modal
      %span.logo-venue
      %h2{style: 'margin-top: 10px'}
        = action
        Campaign
      #display_error_message
      = form_with model: @campaign, class: 'mui-form' do |form|
        .mui-row
          .mui-col-lg-6
            .mui-textfield.mui-textfield--float-label
              = form.text_field :title
              = form.label :title
          .mui-col-lg-6
            .mui-textfield#performer
              = form.label :performer_ids, "Artist"
            = form.select(:performer_ids, options_for_select(select_performers_options), {}, {multiple: true})
        
        .mui-textfield.mui-textfield--float-label
          = form.text_area :description, rows: 7
          = form.label :description
        .mui-textfield.mui-textfield--float-label
          = form.text_field :location
          = form.label :location   
        .mui-row
          .mui-col-md-6
            .mui-textfield.mui-textfield--float-label
              = form.date_field :event_date
          .mui-col-lg-6
            .mui-textfield#genre
              = form.label :genre 
            = form.select(:genre_ids, options_for_select(select_genre_options), {}, {multiple: true})

        %div#ticket-info
          .mui-textfield.mui-textfield--float-label
            = form.number_field 'ticket[price]' 
            = form.label 'ticket[price]', 'Fixed ticket price'           
          - 3.times do |i|
            .ticket-details.mui-row
              .mui-col-lg-6
                .mui-textfield.mui-textfield--float-label
                  = form.text_field "ticket_variants[#{i + 1}][name]"  
                  = form.label "ticket_variants[#{i + 1}][name]", 'Ticket name' 
              .mui-col-lg-6
                .mui-textfield.mui-textfield--float-label
                  = form.number_field "ticket_variants[#{i + 1}][base_price_percentage]"  
                  = form.label "ticket_variants[#{i + 1}][base_price_percentage]", 'Percentage'
        .mui-row
          .mui-col-lg-6
            .form-group
              - if Rails.env.test?   
                = form.label :image
                = form.file_field :image 
              - else
                %input#image-uploader.form-submit{type: 'button', value: 'Upload image'}
                = form.file_field :image, style: 'opacity: 0;'
          .mui-col-lg-6
            #image-uploader-upload-message
            #image-uploader-preview
        .form-group
          = form.submit action == 'Create' ? 'Launch Campaign' : 'Update Campaign', class: 'form-submit'
          = button_tag 'Cancel', class: 'form-submit', onclick: 'cancelModal(event);' 
          