.mui-col-md-6
    %a.event{href: "#{campaign_path(campaign)}", id: "#{dom_id(campaign)}"}
        %span.thumb{:style => "background-image: url(#{rails_blob_url campaign.image})"}
        %span.title
            = campaign.title
        %span.venue-date
            = campaign.location
            %br/
            = campaign.event_date
            %br/
            - if campaign.tickets&.any?
                %strong 
                    = number_to_currency(campaign.tickets.first.price, unit: "kr", format: "%n %u") 
                    Price
                %br/
                %strong 
                    = campaign.tickets.first.sold_count
                    Tickets Sold
        %span.reserved 
            -# 80%
        %span.reserve
            - if campaign.pending?
                NOT ACCEPTED
            - else
                Book your Ticket
                %svg{:style => "enable-background:new 0 0 24 24;", :version => "1.1", :viewbox => "0 0 24 24", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                    %polygon{:fill => "rgb(240,215,93)", :points => "24,12 13.5,1.5 11.1,3.8 17.9,10.6 0,10.6 0,13.9 17.4,13.9 11.1,20.2 13.5,22.5 21.7,14.3 21.7,14.3"}

