- @campaigns.each do |campaign|    
    - if campaign.accepted? || current_user.admin?
        %h1
            = link_to campaign.title, campaign_path(campaign)
        - if campaign.image.attached?
            = image_tag campaign.image
        %p
            = truncate(campaign.description, length: 100) { link_to ' (more)', campaign_path(campaign)} 
        %p
            = campaign.location
        - if user_signed_in? && current_user.admin?
            = button_to 'Reject', '#'
            = form_with url: admin_accept_path do |form|
                = form.hidden_field :campaign_id, value: campaign.id
                = form.submit 'Accept'
            
        //= button_to 'Accept', campaign_path(campaign, event: :admin_accepts_campaign), method: :put, remote: true
