- if @campaign.accepted? || current_user.admin?
    %h1
        = @campaign.title
    %p
        = @campaign.description
    %p
        = @campaign.location

    = image_tag @campaign.image

- if user_signed_in? && current_user.admin?
    = form_with url: admin_accept_path do |form|
    = form.hidden_field :campaign_id, value: @campaign.id
    = form.submit 'Accept'
    = button_to 'Reject', '#'