%h1
    = @campaign.title
%p
    = @campaign.description
%p
    = @campaign.location
 
= image_tag @campaign.image

#tickets 
    - @campaign.tickets.each do |ticket|
        = [ticket.name, ticket.price].join(': ')
