!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %title Venue - AdminLand
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'

    = favicon_link_tag asset_path('venue_favicon.png'), rel: 'icon', type:  'image/png'


  %body{style: 'background-color: white;'}
    = render partial: 'partials/header'
    #flashes
    - flash.each do |key, value|
      :javascript
        showToast("#{key.humanize}", "#{value}", {});
    = yield

      
