!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Venue
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: 'partials/header'
    - flash.each do |key, value|
      :javascript
        showToast("#{key.humanize}", "#{value}", {});
    - if current_page?(root_path)
      = render partial: 'partials/carousell'
      .container
        = yield
    - else 
      #content
        = yield
      
